<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Contact us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/FIDUCIA LINE JPEG.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900">
    <link rel="stylesheet" type="text/css"  href="/plugins/bootstrap.css">
    <link rel="stylesheet" type="text/css"  href="/plugins/fonts.css">
    <link rel="stylesheet"  type="text/css"  href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap.css">
    <link rel="stylesheet" href="/css/contact.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;} .social-icons{
      padding:30px;
      /* background-color:#00506b; */
      text-align: center;
      padding-right: 110px
      ;
    }
    .rd-navbar-transparent.rd-navbar-static .rd-navbar-main-inner {
    background-color: rgb(227 227 227 / 30%);
}
    .social-icons a{
      color:#fff;
      line-height:30px;
      font-size:30px;
      margin: 0 5px;
      text-decoration:none;
      
    }
    
/* .logo {
  width: 75%;
  height: 200px;
  animation-name: spin;
  animation-duration: 9.00s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
} */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
    .social-icons a i{
      line-height:30px;
      font-size:30px;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1); 
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1); 
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1);
      transition: all 200ms ease-in;
      transform: scale(1);
    }
    .rd-navbar-transparent.rd-navbar-static .rd-navbar-aside-outer {
    color: white;
    background-color: #d75b01;
}
    .social-icons a:hover i{
      box-shadow: 0px 0px 150px #000000;
      z-index: 2;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1.5);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1.5);   
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1.5);
      transition: all 200ms ease-in;
      transform: scale(1.5);
    }</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="loader">
          <div></div>
          <div></div>
          
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page"><a class="banner banner-top"style="background-color: #1e2227;border-width: 0px 0px 1px 0px;border-color: #343a46;"alt="" height="0"></a>
      <header class="section page-header rd-navbar-transparent-wrap">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-transparent" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="20px" data-xl-stick-up-offset="20px" data-xxl-stick-up-offset="20px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-aside-outer rd-navbar-collapse">
              <div class="rd-navbar-aside">
                <div class="rd-navbar-info">
                  <div class="icon novi-icon mdi mdi-phone"></div><a href="tel:#">99777-76189</a>
                </div>
                <ul class="list-lined">
                  <li><a href="#">Log in</a></li>
                  <li><a href="#">Create an account</a></li>
                </ul>
              </div>
            </div>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main-inner">
                <div class="rd-navbar-main">
                  <!--RD Navbar Panel-->
                  <div class="rd-navbar-panel">
                    <!--RD Navbar Toggle-->
                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                    <!--RD Navbar Brand-->
                    <div class="rd-navbar-brand">
                      <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="" alt="" width="180px" height="22"/><img src="" alt="" width="146" height="22"/><img class="brand-logo-light" src="/images/FIDUCIA PNG FULL LOGO.png" alt="fiducia" style="max-width:180px;" height="22"/></a>
                    </div>
                  </div>
                  <%- include('../../nav_partials/nav') %>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div class="rd-navbar-bg novi-background bg-image" style="background-image: url()"></div>
      </header>

      

      <% for(var i=0; i < data.length; i++ ) { %>
      <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url('/images/contact_images/<%= data[i].image %>');">
        <div class="breadcrumbs-custom-inner">
          <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
              <h6 class="breadcrumbs-custom-subtitle title-decorated">Contacts</h6>
              <h1 class="breadcrumbs-custom-title">Contacts</h1>
            </div>
            <ul class="breadcrumbs-custom-path">
              <li><a href="index.html">Home</a></li>
              <li class="active">Contacts</li>
            </ul>
          </div>
        </div>
      </section>
      <section class="section section-sm">
        <div class="container">
          <div class="layout-bordered">
            <div class="layout-bordered-item wow-outer">
              <div class="layout-bordered-item-inner wow slideInUp">
                <div class="icon icon-lg mdi mdi-phone text-primary"></div>
                <ul class="list-0">
                  <li><a class="link-default" href="tel:#"><%= data[i].mobile_number%></a></li>
                  <!-- <li><a class="link-default" href="tel:#">1-800-9876-098</a></li> -->
                </ul>
              </div>
            </div>
            <div class="layout-bordered-item wow-outer">
              <div class="layout-bordered-item-inner wow slideInUp">
                <div class="icon icon-lg mdi mdi-email text-primary"></div><a class="link-default" href="mailto:#"><%= data[i].email%></a>
              </div>
            </div>
            <div class="layout-bordered-item wow-outer">
              <div class="layout-bordered-item-inner wow slideInUp">
                <div class="icon icon-lg mdi mdi-map-marker text-primary"></div><a class="link-default" href="#"><%= data[i].address%></a>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </section>
      <!-- Map & contacts-->
      <section class="section bg-gray-100">
        <div class="range justify-content-xl-between">
          <div class="cell-xl-6 align-self-center container">
            <div class="row">
              <div class="col-lg-9 cell-inner">
                <div class="section-lg">
                  <h3 class="wow-outer"><span class="wow slideInDown">Contact Us</span></h3>
                  <!-- RD Mailform-->
                  <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                    <div class="row row-10">
                      <div class="col-md-6 wow-outer">
                        <div class="form-wrap wow fadeSlideInUp">
                          <label class="form-label-outside" for="contact-first-name">First Name</label>
                          <input class="form-input" id="contact-first-name" type="text" name="name" data-constraints="@Required">
                        </div>
                      </div>
                      <div class="col-md-6 wow-outer">
                        <div class="form-wrap wow fadeSlideInUp">
                          <label class="form-label-outside" for="contact-last-name">Last Name</label>
                          <input class="form-input" id="contact-last-name" type="text" name="name" data-constraints="@Required">
                        </div>
                      </div>
                      <div class="col-md-6 wow-outer">
                        <div class="form-wrap wow fadeSlideInUp">
                          <label class="form-label-outside" for="contact-email">E-mail</label>
                          <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email @Required">
                        </div>
                      </div>
                      <div class="col-md-6 wow-outer">
                        <div class="form-wrap wow fadeSlideInUp">
                          <label class="form-label-outside" for="contact-phone">Phone</label>
                          <input class="form-input" id="contact-phone" type="text" name="phone" data-constraints="@PhoneNumber">
                        </div>
                      </div>
                      <div class="col-12 wow-outer">
                        <div class="form-wrap wow fadeSlideInUp">
                          <label class="form-label-outside" for="contact-message">Your Message</label>
                          <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="group group-middle">
                      <div class="wow-outer"> 
                        <button class="button button-primary button-winona wow slideInRight"  type="submit">Send Message</button>
                      </div>
                      <p>or use</p>
                      <div class="wow-outer"><a target="_blank" class="button button-primary-outline button-icon button-icon-left button-winona wow slideInLeft" href="https://www.facebook.com/profile.php?id=100085259112179"><span class="icon text-primary mdi mdi-facebook-messenger"></span>Messenger</a></div>
                    </div>
                  </form>
                
                </div>
              </div>
            
              
            </div>

       
          </div>
          

          <div class="cell-xl-6 align-self-center container">
        <!-- <img style="max-width: 83%;" src="/images/pexels-igor-mashkov-6325001.jpg" alt=""> -->
        <img  src="/images/FIDUCIA PNG FULL LOGO.png" alt="">
          </div>

  <div class="col-md-12">
          <section class="section2 clearfix">
            <div class="col2 column1 first">
              <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div class="sec2map" style='overflow:hidden;height:550px;width:100%;'><div id='gmap_canvas' style='height:100%;width:100%;'></div><div><small><a href="http://embedgooglemaps.com">									embed google maps							</a></small></div><div><small><a href="http://freedirectorysubmissionsites.com/">free web directories</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(19.075314480255834,72.88153973865361),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(19.075314480255834,72.88153973865361)});infowindow = new google.maps.InfoWindow({content:'<strong>My Location</strong><br>mumbai<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
            </div>
          </div>
          
       
        </div>
      </section>

 


      <footer class="section footer-classic">
        <div class="footer-inner-1">
          <div class="container">
            <div class="row row-40">
              <div class="col-md-5 col-lg-3">
                <h5>Our Contacts</h5>
                <ul class="contact-list font-weight-bold">
                  <li>
                    <div class="unit unit-spacing-xs">
                      <div class="unit-left">
                        <div class="icon icon-sm icon-primary novi-icon mdi mdi-map-marker"></div>
                      </div>
                      <div class="unit-body"><a href="#">Address :
                        206 B Second-oor Trade Center 
                      
                         <br>  South Tukoganj 
                         Indore 452001</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-xs">
                      <div class="unit-left">
                        <div class="icon icon-sm icon-primary novi-icon mdi mdi-phone"></div>
                      </div>
                      <div class="unit-body"><a href="tel:#">99777-76189</a></div>
                    </div>
                  </li>
                  <li>
                   
                  </li>
                </ul><a class="d-inline-block big" href="mailto:#">Info@fiducia.com</a>
              </div>
              <div class="col-md-6 col-lg-5">
                <h5>Quick Links</h5>
                <div class="row row-5 justify-content-between">
                  <div class="col-sm-6">
                    <ul class="footer-list big">
                      <li><a href="#">IRS Publications</a></li>
                      <li><a href="#">Record Retention Guide</a></li>
                      <li><a href="#">Tax Due Dates</a></li>
                      <li><a href="#">Tax Forms</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-lg-3">
                <h5>Connect with Us</h5>
                <div class="social-icons">
                  <a href="https://www.facebook.com/profile.php?id=100085259112179"  title="facebook"> 
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                  </a>
                  <a href="https://twitter.com/FiduciaTech" title="twitter"> 
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.instagram.com/fiduciatechnologiesllp/" title="instagram">  
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </div>
                
              </div>
          
         <!-- <div class="unit-left"><img src="/images/fiducia.jpg" alt="" width="300" height="20"></div> -->
            </div>
          </div>
        </div>
        
        <div class="footer-inner-2">
          <div class="container">
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. www.fudiciatechnologies.com  </p>
          </div>
        </div>
      </footer>
        <div class="footer-inner-2">
          <div class="container">
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. www.fudiciatechnologies.com<a href="https://www.templatemonster.com"></a></p>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="/js/core.min.js"></script>
    <script src="/js/script.js"></script>
    
    <!--coded by Starlight-->
    <a href="//web.whatsapp.com/send?phone=9977776189&text&app_absent=0" id ="ui-to-top" class="ui-to-top fa fa-whatsapp active"></a>
  </body>
  <a href="//web.whatsapp.com/send?phone=9977776189&text&app_absent=0" style="background-color: #041d55;" id ="ui-to-top" class="ui-to-top fa fa-whatsapp active"></a>
</html>