<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/FIDUCIA LINE JPEG.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900">
    <link rel="stylesheet" type="text/css"  href="/plugins/bootstrap.css">
    <link rel="stylesheet" type="text/css"  href="/plugins/fonts.css">
    <link rel="stylesheet"  type="text/css"  href="/css/style.css">
  <link rel="stylesheet" href="/css/testimonials.css">
   <link rel="stylesheet" href="/css/theme.css">
<link rel="stylesheet" href="/css/style.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet"> 
     <link href="/css/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/css/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/lib/lightbox/css/lightbox.min.css" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap.css">
 <link rel="stylesheet" href="/css/dev.css"> 
 <style>
  .bg-primary {
    background-color: #0d2e51!important;
}
 </style>
      <script src="/js/testimonials.js"></script>
      <script src="/js/main.js"></script>
      <style>
        .text-light {
    color: #000000 !important;
}
      </style>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  

<script>
jQuery(document).ready(function() {
        
	jQuery('.carousel[data-type="multi"] .item').each(function(){
		var next = jQuery(this).next();
		if (!next.length) {
			next = jQuery(this).siblings(':first');
		}
		next.children(':first-child').clone().appendTo(jQuery(this));
	  
		for (var i=0;i<2;i++) {
			next=next.next();
			if (!next.length) {
				next = jQuery(this).siblings(':first');
			}
			next.children(':first-child').clone().appendTo($(this));
		}
	});
        
});
</script>
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;} .social-icons{
     padding: 30px;
    text-align: center;
    padding-right: 238px;
    }
    .carousel-control.left, .carousel-control.right {
	background-image:none;
}
.row {
    margin-left: -21px;
    margin-right: -15px;
}
/* .row {
    margin-left: -216px;
    margin-right: -15px;
} */
.img-responsive{
	width:100%;
	height:auto;
}


.bg-primary {
    color: #fff;
    background-color: #052e52;
}
.img-responsive {
    width: 334px;
    height: 129px;
}
.rd-navbar-transparent.rd-navbar-static .rd-navbar-main-inner {
    background-color: rgb(227 227 227 / 30%);
}
@media (min-width: 992px ) {
	.carousel-inner .active.left {
		left: -25%;
	}
	.carousel-inner .next {
		left:  25%;
	}
	.carousel-inner .prev {
		left: -25%;
	}
}
.rd-navbar-transparent.rd-navbar-static .rd-navbar-aside-outer {
    color: white;
    background-color: #d75b01;
}

@media (min-width: 768px) and (max-width: 991px ) {
	.carousel-inner .active.left {
		left: -33.3%;
	}
	.carousel-inner .next {
		left:  33.3%;
	}
	.carousel-inner .prev {
		left: -33.3%;
	}
	.active > div:first-child {
		display:block;
	}
	.active > div:first-child + div {
		display:block;
	}
	.active > div:last-child {
		display:none;
	}
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: xx-large;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 767px) {
	.carousel-inner .active.left {
		left: -100%;
	}
	.carousel-inner .next {
		left:  100%;
	}
	.carousel-inner .prev {
		left: -100%;
	}
	.active > div {
		display:none;
	}
	.active > div:first-child {
		display:block;
	}
    .social-icons a{
      color:#fff;
      line-height:30px;
      font-size:30px;
      margin: 0 5px;
      text-decoration:none;
      
      
    }
    lo
    .h5 {
    font-size: 22px;
    
}
    .social-icons a i{
      line-height:30px;
      font-size:30px;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1); 
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1); 
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1);
      transition: all 200ms ease-in;
      transform: scale(1);
    }
    .text{
      text-align: justify;
    }
    .text-light {
    font-weight: 300;
}
    .img-responsive{
      width: 318px;
      height: 69px;
    }
    .item{
      width: 318px;
      height: 69px;
    }
    .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: xx-large;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

    .social-icons a:hover i{
      box-shadow: 0px 0px 150px #000000;
      z-index: 2;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1.5);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1.5);   
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1.5);
      transition: all 200ms ease-in;
      transform: scale(1.5);
    }
  }
    
    
    </style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="loader">
          <div></div>
          <div></div>
          
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page"><a class="banner banner-top"style="background-color: #1e2227;border-width: 0px 0px 1px 0px;border-color: #343a46;"alt="" height="0"></a>
      <header class="section page-header rd-navbar-transparent-wrap">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-transparent" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="20px" data-xl-stick-up-offset="20px" data-xxl-stick-up-offset="20px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
         
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main-inner">
                <div class="rd-navbar-main">
                  <!--RD Navbar Panel-->
                  <div class="rd-navbar-panel">
                    <!--RD Navbar Toggle-->
                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                    <!--RD Navbar Brand-->
                    <div class="rd-navbar-brand">
                      <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="" alt="" width="180px" height="22"/><img src="" alt="" width="146" height="22"/><img class="brand-logo-light" src="/images/FIDUCIA PNG FULL LOGO.png" alt="fiducia" style="max-width:180px;" height="22"/></a>
                    </div>
                  </div>
   
                  <!-- navbar -->
                  <%- include('../../nav_partials/nav') %>

                </div>
              </div>
            </div>
          </nav>
        </div>
        <div class="rd-navbar-bg novi-background bg-image" style="background-image: url(/images/white.jpg)"></div>
      </header>

      <!--Swiper-->
      <section class="section swiper-container swiper-slider swiper-slider-1 context-dark" data-loop="true" data-autoplay="5000" data-simulate-touch="false">
        <div class="swiper-wrapper">
          <% for(var i=0; i < banner.length; i++ ) { %>
          <div class="swiper-slide" style="background-image:url('/images/upload_banner_images/<%= banner[i].image%>');">
            <div class="swiper-slide-caption section-lg">
              <div class="container">
                <div class="row">
                  <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                    <h1><span class="d-block" data-caption-animate="fadeInUp" data-caption-delay="100" data-caption-color="black">
                        <span class="d-block text-light" data-caption-animate="fadeInUp" data-caption-delay="200"></span></h1>
                    <!-- <p class="lead" data-caption-animate="fadeInUp" data-caption-delay="350">Providing every client with the attention they deserve.</p> -->
                    <!-- <div class="button-wrap-default" data-caption-animate="fadeInUp" data-caption-delay="450"><a class="button button-secondary-text" href="#">Read more</a></div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        
        </div>

    
        <!--Swiper Pagination-->
        <div class="swiper-pagination-wrap">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
   
      <!--Icon List 2-->
      <section class="section section-sm section-sm-bottom-100 bg-primary">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 wow fadeInUp">
              <div class="box-icon-2">
                <div class="icon novi-icon"></div>
                <h3 class="title">About Us</h3>
                <p class="text" style="text-align:justify;  font-family: 'Kanit', sans-serif;">Fiducia technologies is one of the most trusted integrator and solutions provider of 
                    advanced safety & security solutions and network communication systems.</p>
                    <a style=" font-family: 'Kanit', sans-serif;" class="text" href="/About">Read more</a>
              </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
              <div class="box-icon-2">
                <div class="icon novi-icon "></div>
                <h3 class="title"  style="text-align:justify;  font-family: 'Kanit', sans-serif;">Our Services</h3>
                <p class="text" style="text-align:justify; font-family: 'Kanit', sans-serif;">Building facilities face challenges in fulling security, comfort, and management 
                    efficiency demand. These challenges include People Management, Vehicle Management, 
                    Emergency Management, Canteen Management, and Center Management</p>
                    <a style=" font-family: 'Kanit', sans-serif;" class="text" href="/Product">Read more</a>
              </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.4s">
              <div class="box-icon-2">
                <div class="icon novi-icon "></div>
                <h3 style=" font-family: 'Kanit', sans-serif;" class="title">Contact Us</h3>
                <p style=" font-family: 'Kanit', sans-serif;" class="text" style="text-align:justify;">Reach out to us for further development communication.</p>
                <a style=" font-family: 'Kanit', sans-serif;" class="text" href="/Contact">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </section>



      <div class="service" id="service">
        <div class="container">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <p  style="  font-family: 'Kanit', sans-serif;">What I do</p>
                <h2  style=" font-family: 'Kanit', sans-serif;">Awesome Quality Services</h2>
            </div>
            <div class="row">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.0s">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <div class="service-text">
                            <h3  style="text-align:justify;  font-family: 'Kanit', sans-serif;">Our Solution</h3>
                            <p  style="text-align:justify;  font-family: 'Kanit', sans-serif;">
                              Products and solutions to secure your facility
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-laptop-code"></i>
                        </div>
                        <div class="service-text">
                            <h3  style="text-align:justify;  font-family: 'Kanit', sans-serif;">Our Solution</h3>
                            <p  style="text-align:justify;  font-family: 'Kanit', sans-serif;">
                              Intelligent analytics functionality
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fab fa-android"></i>
                        </div>
                        <div class="service-text">
                            <h3  style="text-align:justify;  font-family: 'Kanit', sans-serif;">Our Solution</h3>
                            <p  style="text-align:justify;  font-family: 'Kanit', sans-serif;">
                              The latest cutting-edge technologies for improved management eficiency
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fab fa-apple"></i>
                        </div>
                        <div class="service-text">
                            <h3  style="text-align:justify;  font-family: 'Kanit', sans-serif;">Our Solution</h3>
                            <p  style="text-align:justify;  font-family: 'Kanit', sans-serif;">
                              Uniied VMS for various products
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>






      <section class="section bg-default section-md">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-6">
              <h2 class="title-icon"><span class="icon icon-default mercury-icon-target-2"></span><span>Our <span class="text-light">Mission</span></span></h2>
              <p class="big" style="text-align:justify;  font-family: 'Kanit', sans-serif;" >We believe in empowering business 
                success through economical and 
                advanced IT solutions. With strong 
                technology delivering capabilities, we are 
                able to comprehend the Client's business 
                requirements, propose IT and Creative 
                strategies in line with the vision of the 
                business and execute the business plan by 
                building or implementing high quality 
                scalable business solutions through the 
                use of latest cutting-edge Technologies</p>
              <ul class="list-marked-2" style="text-align:justify; font-family: 'Kanit', sans-serif;">
                <li>Providing the highest 
                    quality product</li>
                <li>Quality will always be our primary 
                    focus</li>
                <li>Offering full support to all our clients</li>
              </ul><a class="button button-primary" href="#">Read more</a>
            </div>
            <% for(var i=0; i < data.length; i++ ) { %>
            <div class="col-md-6">
              <div class="row">
                <div class="col-6">
                  <!--Box counter-->
                  <div class="box-counter">
                    <div class="box-counter-main">
                      <div class="counter"><%= data[i].clients%></div>
                    </div>
                    <p class="box-counter-title" style="font-family: 'Kanit', sans-serif;">Clients Satisfactions</p>
                  </div>
                </div>
                <div class="col-6">
                  <!--Box counter-->
                  <div class="box-counter">
                    <div class="box-counter-main">
                      <div class="counter"><%= data[i].members%></div>
                    </div>
                    <p class="box-counter-title"  style="font-family: 'Kanit', sans-serif;">Team Members</p>
                  </div>
                </div>
                <div class="col-6">
                  <!--Box counter-->
                  <div class="box-counter">
                    <div class="box-counter-main">
                      <div class="counter"><%= data[i].experience%></div>
                    </div>
                    <p class="box-counter-title"  style="font-family: 'Kanit', sans-serif;">Years Of Experience</p>
                  </div>
                </div>
                <div class="col-6">
                  <!--Box counter-->
                  <div class="box-counter">
                    <div class="box-counter-main">
                      <div class="counter"><%= data[i].projects%></div><span></span>
                    </div>
                    <p class="box-counter-title"  style="font-family: 'Kanit', sans-serif;">Running projects</p>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </section>


     


      
  
     <!-- client slider  -->
     <section class="section section-sm section-sm-bottom-100 bg-primary">
      <div class="container">
        <div class="row row-30">
    
<div class="container">
  <div class="text-light">
    <h2  style="font-family: 'Kanit', sans-serif;">Clients</h2>
  </div>
  

  <!--The main div for carousel-->
  <div class="container text-center">
  <div class="carousel slide row" data-ride="carousel" data-type="multi" data-interval="2000" id="fruitscarousel">
  
      <div class="carousel-inner">
        <% for(var i=0; i < clients.length; i++ ) { %>
          <div class="item <% if(i==0){ %>active<% } %>" >
            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img class="img-responsive" src="/images/upload_images/<%= clients[i].image %>" ></a></div>
          </div>
          <% } %>
        
      </div>
  
      <a class="left carousel-control" href="#fruitscarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
      <a class="right carousel-control" href="#fruitscarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a> 
  
  </div>
  </div>
   
  
  </div>
  </div>
      </div>
    </section>
  

    <div class="experience" id="experience">
      <div class="container">
          <header class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
              <p  style="font-family: 'Kanit', sans-serif;">Our Services.</p>
              <h2  style="font-family: 'Kanit', sans-serif;"> Fiducia Technologies</h2>
          </header>
          <div class="timeline">
              <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                  <div class="timeline-text">
                      <div class="timeline-date"  style="font-family: 'Kanit', sans-serif;">2018-2022</div>
                      <h2  style="font-family: 'Kanit', sans-serif;">FIDUCIA TECHNOLOGIES</h2>
                      <!-- <h4>Soft Agency, San Francisco, CA</h4> -->
                      <p style="font-family: 'Kanit', sans-serif;">
                        Since 1992 under the tutelage of the parent
                        company, Indian power tools .we have
                        competently served clients at the regional,
                        national, and government levels
                      </p>
                  </div>
              </div>
              <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                  <div class="timeline-text">
                    <div class="timeline-date"  style="font-family: 'Kanit', sans-serif;">2018-2022</div>
                      <h2  style="font-family: 'Kanit', sans-serif;">FIDUCIA TECHNOLOGIES</h2>
                      <!-- <h4>Soft Agency, San Francisco, CA</h4> -->
                      <p  style="font-family: 'Kanit', sans-serif;">
                        Building facilities face challenges in fulilling security, comfort, and management
                        eficiency demand. These challenges include People Management, Vehicle Management,
                        Emergency Management, Canteen Management, and Center Management
                      </p>
                  </div>
              </div>
              <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                  <div class="timeline-text">
                    <div class="timeline-date"  style="font-family: 'Kanit', sans-serif;">2018-2022</div>
                      <h2  style="font-family: 'Kanit', sans-serif;">FIDUCIA TECHNOLOGIES</h2>
                      <!-- <h4>Soft Agency, San Francisco, CA</h4> -->
                      <p style="font-family: 'Kanit', sans-serif;">
                        We dug deep into the new needs, and developed
                        insights… handpicked the most imperative tasks,
                        automated & digitalized them for real-time integration
                        and superior performance.
                      </p>
                  </div>
              </div>
              <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                  <div class="timeline-text">
                    <div class="timeline-date"  style="font-family: 'Kanit', sans-serif;">2018-2022</div>
                      <h2  style="font-family: 'Kanit', sans-serif;">FIDUCIA TECHNOLOGIES</h2>
                      <!-- <h4>Soft Agency, San Francisco, CA</h4> -->
                      <p  style="font-family: 'Kanit', sans-serif;">
                        As a leading solutions
                        provider of cutting-edge safety, security &network
                        communication systems.
                      </p>
                  </div>
              </div>
              <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                  <div class="timeline-text">
                    <div class="timeline-date"  style="font-family: 'Kanit', sans-serif;">2018-2022</div>
                      <h2  style="font-family: 'Kanit', sans-serif;">FIDUCIA TECHNOLOGIES</h2>
                      <!-- <h4>Soft Agency, San Francisco, CA</h4> -->
                      <p  style="font-family: 'Kanit', sans-serif;">
                        Our words are less fancy; performance is more substance; assessments are honest;
execution is prompt. This is the bottom- line of how we've built an empire of stable repute
in more than a decade
                      </p>
                  </div>
              </div>
              <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                  <div class="timeline-text">
                    <div class="timeline-date"  style="font-family: 'Kanit', sans-serif;">2018-2022</div>
                      <h2  style="font-family: 'Kanit', sans-serif;">FIDUCIA TECHNOLOGIES</h2>
                      <!-- <h4>Soft Agency, San Francisco, CA</h4> -->
                      <p  style="font-family: 'Kanit', sans-serif;">
                        Our vast team of trained professionals design and integrate customized solutions, and
                        know how to make headway on complex projects from concept to completion.
                        
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  


  
  <script src="https://use.fontawesome.com/1744f3f671.js"></script>
  

      <!-- Latest Articles-->    <div class="testimonial wow fadeInUp" data-wow-delay="0.1s" id="review">
        <div class="container">
          <div class="testimonial-icon">
              <i class="fa fa-quote-left"></i>
          </div>
          <div class="owl-carousel testimonials-carousel">
              <div class="testimonial-item">
                  <div class="testimonial-img">
                      <img src="/images/team-4.jpg" alt="Image">
                  </div>
                  <div class="testimonial-text">
                      <p  style="font-family: 'Kanit', sans-serif;">
                        Excellent opportunity to see emerging products, network with peers and take away ideas for improvement.
                      </p>
                      <h3  style="font-family: 'Kanit', sans-serif;">Hrishi Singh</h3>
                      <h4  style="font-family: 'Kanit', sans-serif;">HEAD OF IT SECURITY - POLICY & RISK MANAGEMENT</h4>
                  </div>
              </div>
              <div class="testimonial-item">
                  <div class="testimonial-img">
                      <img src="/images/testimonial-2.jpg" alt="Image">
                  </div>
                  <div class="testimonial-text">
                      <p  style="font-family: 'Kanit', sans-serif;">
                        I think The Network Group hit a good balance between presentations, workshops and networking time. I enjoyed the meetings scheduled.
                      </p>
                      <h3  style="font-family: 'Kanit', sans-serif;">Krish Vyas</h3>
                      <h4  style="font-family: 'Kanit', sans-serif;">INFORMATION SECURITY COMPLIANCE</h4>
                  </div>
              </div>
              <div class="testimonial-item">
                  <div class="testimonial-img">
                      <img src="/images/team-2.jpg" alt="Image">
                  </div>
                  <div class="testimonial-text">
                      <p  style="font-family: 'Kanit', sans-serif;">
                        Excellent networking opportunities.
                      </p>
                      <h3  style="font-family: 'Kanit', sans-serif;">Yash Sinha</h3>
                      <h4  style="font-family: 'Kanit', sans-serif;">GROUP IT SECURITY AWARENESS AND TRAINING LEAD</h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
    
      <section class="section bg-default section-md">
        <div class="container">
          <h2 class="title-icon"><span class="icon icon-default mercury-icon-news"></span><span>Latest <span class="text-light">Articles</span></span></h2>
          <% for(var i=0; i < data.length; i++ ) { %>
         
          <div class="box-image-small box-image-small-left">
            <div class="item-image bg-image novi-nackground" style="background-image: url('/images/upload_article_images/<%= articles[0].image %>')"></div>
            <div class="item-body wow fadeInRight">
              <p>July 12, 2019</p>
              <h4  style="font-family: 'Kanit', sans-serif;"><a href="#"><%= articles[0].title%></a></h4>
              <p  style="font-family: 'Kanit', sans-serif;" class="big"><%= articles[0].description%></p>
            </div>
          </div>
          <div class="box-image-small box-image-small-right">
            <div class="item-image bg-image novi-nackground" style="background-image: url('/images/upload_article_images/<%= articles[1].image %>')"></div>
            <div class="item-body wow fadeInLeft">
              <p>July 12, 2019</p>
              <h4  style="font-family: 'Kanit', sans-serif;"><a href="#"><%= articles[1].title%></a></h4>
              <p   style="font-family: 'Kanit', sans-serif;"class="big"><%= articles[1].description%></p>
            </div>
          </div>
          <% } %>

        </div>
      </section>
 
  
      


      <footer class="section footer-classic">
        <div class="footer-inner-1">
          <div class="container">
            <div class="row row-40">
              <div class="col-md-5 col-lg-3" style="    position: relative;
              min-height: 1px;
              padding-left: 40px;
              padding-right: 4px;
              margin: 4px;">
                <h5 style="font-size: 21px;">Our Contacts</h5>
                <ul class="contact-list font-weight-bold">
                  <li>
                    <div class="unit unit-spacing-xs">
                      <div class="unit-left">
                        <div class="icon icon-sm icon-primary novi-icon mdi mdi-map-marker"></div>
                      </div>
                      <div class="unit-body"><a href="#">Address :
                        206 B Second-Door Trade Center 
                      
                         <br>  South Tukoganj 
                         Indore 452001</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-xs">
                      <div class="unit-left">
                        <div class="icon icon-sm icon-primary novi-icon mdi mdi-phone"></div>
                      </div>
                      <div class="unit-body"><a href="tel:#">99777-76189</a></div>
                    </div>
                  </li>
                  <li>
                   
                  </li>
                </ul><a class="d-inline-block big" href="mailto:#">Info@fiducia.com</a>
              </div>
              <div class="col-md-6 col-lg-5">
                <h5 style="font-size: 21px;">Quick Links</h5>
                <div class="row row-5 justify-content-between" style="    margin-left: -214px;
                margin-right: -15px;">
                  <div class="col-sm-6">
                    <ul class="footer-list big">
                      <li><a href="#">IRS Publications</a></li>
                      <li><a href="#">Record Retention Guide</a></li>
                      <li><a href="#">Tax Due Dates</a></li>
                      <li><a href="#">Tax Forms</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-lg-3" >
                <h5 style="font-size: 21px;">Connect with Us</h5>
                <div class="social-icons" style="margin-left: -34px;
                margin-right: -15px; width:max-content;     font-size: xxx-large;
">
                  <a href="https://www.facebook.com/profile.php?id=100085259112179"   title="facebook"> 
                    <i class="fa fa-facebook-square" aria-hidden="true" ></i>
                  </a>
                  <a href="https://twitter.com/FiduciaTech"  title="twitter"> 
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.instagram.com/fiduciatechnologiesllp/"   title="instagram">  
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </div>
                
              </div>
          
         <!-- <div class="unit-left"><img src="/images/fiducia.jpg" alt="" width="300" height="20"></div> -->
            </div>
          </div>
        </div>
        
        <div class="footer-inner-2">
          <div class="container">
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. www.fudiciatechnologies.com  </p>
          </div>
        </div>
      </footer>
 

    <!-- <script>
    $(document).ready(function () {
      
      $(".rd-nav-link ").click(function (){
        $(this).addClass("active").siblings().removeClass("active");
      });
    });
    </script> -->
    <script src="/js/core.min.js"></script>
    <script src="/js/script.js"></script>
   
<script>
      $(".testimonials-carousel").owlCarousel({
        center: true,
        autoplay: true,
        dots: true,
        loop: true,
        responsive: {
            0:{
                items:1
            }
        }
    });
    
</script>
  
    <!--coded by Starlight-->
    <a href="//web.whatsapp.com/send?phone=9977776189&text&app_absent=0" target="_blank" style="background-color: #041d55; font-size: xx-large;" id ="ui-to-top" class="ui-to-top fas fa-whatsapp active"></a>
  </body>
</html>